[access]
	inheritFrom = All-Projects
[project]
	description = YANG PUBSUB
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-yang-push-committers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-yang-push-committers
	label-Verified = -1..+1 group ldap/gerrit-yang-push-committers
	submit = group ldap/gerrit-yang-push-committers
